---
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/global.css";

export const getStaticPaths = (async () => {
  const notes = await getCollection("notes", ({ data }) =>
    import.meta.env.PROD ? data.draft !== true : true
  );

  return notes.map((note) => ({
    params: { id: note.id },
    props: { note },
  }));
}) satisfies GetStaticPaths;

const { note } = Astro.props;

const { Content } = await render(note);
---

<BaseLayout title={note.data.title}>
  <p>
    {
      note.data.date.toLocaleString("en-GB", {
        dateStyle: "medium",
      })
    }
  </p>
  <Content />
</BaseLayout>
