@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/cyan-dark.css";

@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	height: 100%;
}

body {
	background-color: var(--slate-1);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter",
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	height: 100%;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}

/* === RESET FINISHES === */

ul {
	list-style-type: "-  ";
}

hr {
	background: hsl(0, 0%, 80%);
	height: 1px;
	border: 0;
	margin: 8px 0;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: var(--slate-12);
}

h2,
h3 {
	margin-top: 1.2rem;
	margin-bottom: 0.5rem;
	color: var(--slate-12);
}

p {
	color: var(--slate-12);
	margin: 1em 0;
}

a {
	font-weight: 500;
	color: var(--cyan-11);

	&:hover {
		text-decoration-thickness: 2px;
	}
}

pre {
	margin: 8px 0;
	border-radius: 4px;
	padding: 16px;
}

code {
	font-size: 0.875em;
	font-family: "JetBrains Mono", monospace;

	:not(pre) > & {
		background: var(--slate-2);
		padding: 1px 2px;
		border: 1px solid var(--slate-6);
		border-radius: 4px;
	}
}

table,
th,
td {
	border: 1px solid var(--slate-6);
	border-collapse: collapse;
}

th,
td {
	padding: 0 8px;
}
