---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1>Not found.</h1>
	<p>
		I'm not sure that page exists. Perhaps you'd like to check out one of my <a
			href="/posts">other posts</a
		>?
	</p>
</Layout>
