---
import { getCollection } from "astro:content";
import "../styles/global.css";

const allPosts = await getCollection("posts", ({ data }) => data.publishDate);
---

<ul>
	{
		allPosts.map((post) => (
			<li>
				<a href={post.slug}>{post.data.title}</a>
			</li>
		))
	}
</ul>
