---
import { getCollection } from "astro:content";
import PostEntry from "../components/PostEntry.astro";
import Layout from "../layouts/Layout.astro";

const allPosts = await getCollection("posts", ({ data }) =>
	import.meta.env.PROD ? data.draft !== true : true
).then((data) =>
	data.toSorted((a, b) => b.data.date.getTime() - a.data.date.getTime())
);
---

<Layout>
	<h1>Blog</h1>
	{
		allPosts.map((post) => (
			<PostEntry
				slug={`/posts/${post.id}`}
				title={post.data.title}
				date={post.data.date}
			/>
		))
	}
</Layout>
