---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const books = await getCollection("books");

books.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout title="Books I've Read">
	<div class="container">
		{
			books.map((book) => (
					<span class="title">{book.data.title}</span>
					<span class="author">{book.data.author}</span>
					<span class="date">
						{book.data.date.toISOString().slice(0, 10)}
					</span>
					<span class="rating">{"★".repeat(book.data.rating)}</span>
			))
		}
	</div>
</BaseLayout>

<style>
	.container {
		display: grid;
		grid-template-columns: 1fr 0.65fr min-content min-content;
		column-gap: 8px;
		row-gap: 4px;
	}

	.title {
		font-weight: 500;
		color: var(--slate-12);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.author {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.date {
		font-variant-numeric: tabular-nums;
		text-wrap: nowrap;
	}

	.rating {
		color: var(--slate-12);
	}


	@media (max-width: 640px) {
		.container {
			grid-template-columns: 1fr;
		}

		.rating {
			margin-bottom: 8px;
		}
	}
</style>
