---
import { getCollection } from "astro:content";
import BookEntry from "../components/BookEntry.astro";
import WideLayout from "../layouts/WideLayout.astro";

const books = await getCollection("books");

books.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<WideLayout title="Books I've Read">
	<div class="container">
		{books.map((book) => <BookEntry book={book} />)}
	</div>
</WideLayout>

<style>
	.container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		column-gap: 8px;
		row-gap: 16px;
	}
</style>
