---
import { getEntry, render } from "astro:content";

interface Props {
	title: string;
	id: string;
	date: Date;
}

const { title, id, date } = Astro.props;

const note = await getEntry("notes", id);

if (!note) {
	throw new Error(`Note with slug ${id} not found.`);
}

const { Content } = await render(note);
---

<div class="container">
	<h2 class="title"><a href={`/notes/${id}`}>{title}</a></h2>
	<div class="divider"></div>
	<p class="date">
		{date.toLocaleString("en-GB", { dateStyle: "medium" })}
	</p>
</div>
<Content />

<style>
	.container {
		display: flex;
		align-items: center;
		column-gap: 8px;
	}

	.divider {
		height: 1px;
		flex: 1;
		background: var(--slate-6);
	}

	.title {
		font-size: unset;
		white-space: nowrap;
		margin: 0;

		a {
			/* text-decoration: none; */
			color: inherit;
		}
	}

	.date {
		color: var(--slate-11);
		white-space: nowrap;
		margin: 0;
	}
</style>
