---
import { getCollection } from "astro:content";
import PostEntry from "./PostEntry.astro";

interface Props {
	limit?: number;
}

const { limit } = Astro.props;

const allPosts = (await getCollection("posts"))
	.filter((post) => post.data.datePublished)
	.sort(
		(a, b) =>
			b.data.datePublished!.getTime() - a.data.datePublished!.getTime()
	)
	.slice(0, limit);
---

<div class="container">
	{
		allPosts.map((post) => (
			<PostEntry
				slug={`/posts/${post.slug}`}
				title={post.data.title}
				date={post.data.datePublished}
			/>
		))
	}
</div>

<style>
	.container {
		display: flex;
		flex-direction: column;
		row-gap: 4px;
	}
</style>
