---
interface Props {
	url: string;
	title: string;
	description: string;
}

const { url, title, description } = Astro.props;
---

<p>
	<a href={url} target="_blank">{title},</a>
	{description}
</p>

<style>
	p {
		color: var(--slate-11);
		margin: 0;
	}
	a {
		color: var(--slate-12);
		font-weight: 500;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
</style>
