---
const { title } = Astro.props;

import "@fontsource/inter";

import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title ?? "Ben Silverman"}</title>
		<meta
			name="description"
			content="My personal website. Hopefully always being updated!"
		/>
		<script
			data-goatcounter="https://bensilverman.goatcounter.com/count"
			is:inline
			async
			src="//gc.zgo.at/count.js"></script>
	</head>
	<body>
		<article>
			{title && <h1>{title}</h1>}
			<slot />
		</article>
		<Footer />
	</body>
	<style>
		article {
			max-width: var(--wrap-width);
			margin: 0 auto;
			padding: 0 1rem;
			padding-top: 2rem;
			width: 100%;
		}
	</style>
</html>
