---
const { title } = Astro.props;

import "@fontsource/inter";

import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
		<script
			data-goatcounter="https://bensilverman.goatcounter.com/count"
			is:inline
			async
			src="//gc.zgo.at/count.js"></script>
	</head>
	<body>
		<article>
			{title && <h1>{title}</h1>}
			<slot />
		</article>
	</body>
	<style>
		article {
			max-width: 768px;
			margin: 0 auto;
			padding: 0 16px;
			padding-top: 32px;
			height: 100%;
		}
	</style>
</html>
